.filter {
  align-items: flex-end;
  display: flex;
  gap: 18px;
  height: 74px;
  position: relative;
  width: 859px;
  margin: 0 auto;
  margin-top: 40px;
}

.div {
  align-items: flex-start;
  display: flex;
  gap: 18px;
  height: 74px;
  position: relative;
  width: 705px;
}

.brand {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.text_wrapper {
  color: #8a8a89;
  font-family: 'Manrope', Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.select {
  align-items: center;
  background-color: #f7f7fb;
  border-radius: 14px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  justify-content: center;
  padding: 14px 89px 14px 18px;
  position: relative;
}

.text_wrapper_2 {
  color: #121417;
  font-family: 'Manrope', Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.chevron_down {
  height: 20px;
  left: 186px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.mileage {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 74px;
  position: relative;
  width: 125px;
}

.select_2 {
  align-items: flex-start;
  background-color: #f7f7fb;
  border-radius: 14px;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  padding: 14px 18px;
  position: relative;
  width: 125px;
}

.img {
  height: 20px;
  left: 87px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.text_wrapper_3 {
  color: #121417;
  font-family: 'Manrope', Helvetica;
  font-size: 18px;
  font-weight: 500;
  height: 20px;
  left: 47px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.price {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 74px;
  position: relative;
  width: 320px;
}

.div_2 {
  height: 48px;
  position: relative;
  width: 320px;
}

.from {
  background-color: #f7f7fb;
  border-color: #8a8a8933;
  border-radius: 14px 0px 0px 14px;
  border-right-style: solid;
  border-right-width: 1px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 160px;
}

.text_wrapper_4 {
  color: #121417;
  font-family: 'Manrope', Helvetica;
  font-size: 18px;
  font-weight: 500;
  height: 20px;
  left: 24px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.to {
  background-color: #f7f7fb;
  border-radius: 0px 14px 14px 0px;
  height: 48px;
  left: 160px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 160px;
}

.main_button {
  all: unset;
  align-items: center;
  background-color: #0b44cd;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  height: 48px;
  justify-content: center;
  padding: 14px 44px;
  position: relative;
  width: 136px;
}
.main_button:hover {
  cursor: pointer;
  background: #3470ff;
}
.text {
  color: var(--white-color);
  font-family: 'Manrope', Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
