:root {
  --white-color: rgba(255, 255, 255, 1);
  --blue-white-color: rgba(52, 112, 255, 1);
  --blue-color: rgba(11, 68, 205, 1);
  --black-color: #121417;
    --grey-color: rgba(18,20,23,.5);
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}
