.nav {
  display: flex;
  gap: 100px;
  align-items: center;

}

.find {
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-align: center;
  color: var(--white-color);
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.active {
  color: yellow;
}
